body {
  background-color: #0f0f0f;
  font-family: "Times New Roman" , Arial; }

header {
  height: 80px;
  width: 100%;
  background-color: #000;
  position: fixed;
  z-index: 100;
  top: 0px; }
  header .header_container {
    display: flex; }
    header .header_container .header_title {
      width: 60%;
      padding-top: 20px; }
      header .header_container .header_title img {
        max-width: 70%;
        height: auto;
        margin-left: 20px; }
    header .header_container .header_list {
      width: 40%; }
      header .header_container .header_list ul {
        margin-top: 30px;
        display: flex;
        justify-content: space-around; }
      header .header_container .header_list a {
        color: #fff;
        font-size: 20px;
        text-decoration: none; }

.head_wrap {
  margin-top: 80px;
  padding: 0px;
  width: 100%;
  height: 300px;
  background-size: cover;
  background: url(../images/yozora.png) repeat-x; }

#pro {
  margin-top: 10px;
  height: 30px; }

#wor {
  background-color: #000;
  height: 30px; }

#profile {
  height: 350px;
  text-align: center; }
  #profile h1 {
    letter-spacing: 0.25em;
    margin: 50px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  #profile h1:before, #profile h1:after {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    height: 1px;
    content: '\a0';
    background-color: #ddd;
    position: relative;
    top: 0.5em; }
  #profile p {
    width: 50%;
    letter-spacing: 0.1em;
    text-align: left;
    color: #fff;
    font-size: 16px;
    margin: 0 auto; }
  #profile h2 {
    font-size: 18px;
    color: #fff;
    margin: 20px;
    text-align: center; }
  #profile .profile_container {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  #profile .profile_box {
    color: #fff;
    width: 50%;
    text-align: center; }
    #profile .profile_box ul {
      margin-left: 10px; }
    #profile .profile_box li {
      margin: 5px; }

#works {
  width: 100%;
  height: 450px;
  background-color: #000; }
  #works h1 {
    letter-spacing: 0.25em;
    margin-bottom: 50px;
    padding-top: 50px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  #works h1:before, #works h1:after {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    height: 1px;
    content: '\a0';
    background-color: #ddd;
    position: relative;
    top: 0.5em; }
  #works .works_container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center; }
  #works .works_box {
    flex: 1;
    background-color: #000;
    text-align: center; }
    #works .works_box img {
      width: 50%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px; }
  #works p {
    color: #fff; }
  @media (max-width: 550px) {
    #works .works_container {
      flex-wrap: wrap;
      justify-content: space-between; }
    #works .works_box {
      width: 40%; }
      #works .works_box img {
        width: 70%; } }

#contact {
  height: 300px; }
  #contact h1 {
    letter-spacing: 0.25em;
    margin: 50px;
    padding-top: 50px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  #contact h1:before, #contact h1:after {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    height: 1px;
    content: '\a0';
    background-color: #ddd;
    position: relative;
    top: 0.5em; }
  #contact .contact_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: #0f0f0f; }
  #contact .contact_box {
    text-align: center;
    margin-bottom: 3rem;
    background-color: #0f0f0f; }
  #contact .contact_box img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: 50%;
    height: auto; }
  #contact p {
    color: #fff; }

/*# sourceMappingURL=port.css.map */
