//-----common-----//
$basecolor : #0f0f0f; //濃グレー
$subcolor  : #000;    //黒
$keycolor  : #fff;    //白

body{
   background-color: $basecolor;
   font-family: "Times New Roman" , Arial;
}
//-----common-----//

//-----header-----//
header{
  height: 80px;
  width: 100%;
  background-color: $subcolor;
  position: fixed;
  z-index: 100;
  top: 0px;
  .header_container{
     display: flex;
    .header_title{
      width: 60%;
      padding-top: 20px;
      img{
        max-width: 70%;
        height: auto;
        margin-left: 20px;
      }
    }
    .header_list{
      width: 40%;
      ul{
        margin-top: 30px;
        display: flex;
        justify-content: space-around;
        }
      a{
        color: $keycolor;
        font-size: 20px;
        text-decoration: none;
      }
    }
  }
}
//-----header-----//

//-----slider-----//
@keyframes cover{
 0% { background-position: 2100px 0 }
 100% { background-position: 0px 0 }
}
.head_wrap {
  animation: cover 120s linear infinite;
  margin-top: 80px;
  padding: 0px;
  width: 100%;
  height: 300px;
  background-size: cover;
  background: url(../images/yozora.png) repeat-x;
}
//-----slider-----//

//-----profile-----//
#profile{
  height: 400px;
  text-align: center;
  h1{
    letter-spacing: 0.25em;
    padding-top: 100px;
    margin-top: -50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    color: $keycolor;
    font-size : 30px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
  h1:before, h1:after {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    height: 1px;
    content: '\a0';
    background-color: #ddd;
    position: relative;
    top: 0.5em;
  }
  p{
    width: 50%;
    letter-spacing: 0.1em;
    text-align: left;
    color: $keycolor;
    font-size : 16px;
    margin: 0 auto;
  }
  h2{
    font-size: 18px;
    color: $keycolor;
    margin: 20px;
    text-align: center;
  }
  .profile_container{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
	  display: flex;
    flex-wrap: wrap;
	  justify-content: center;
  }
  .profile_box {
    color: $keycolor;
    width: 50%;
    text-align: center;
    ul{
      margin-left: 10px;
    }
    li{
      margin: 5px;
    }
  }
}
//-----profile-----//

//-----works-----//
#works{
  width: 100%;
  height: 450px;
  background-color: $subcolor;
  h1{
    letter-spacing: 0.25em;
    padding-top: 80px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    color: $keycolor;
    font-size : 30px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
  h1:before, h1:after {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    height: 1px;
    content: '\a0';
    background-color: #ddd;
    position: relative;
    top: 0.5em;
  }

  .works_container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
	  display: flex;
	  justify-content: center;
  }
  .works_box {
    flex: 1;
    background-color: #000;
    text-align: center;
    img {
      width: 50%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;
    }
  }
  p{
      color: $keycolor;
  }
  @media (max-width: 550px) { //SPver
 
      .works_container{
        flex-wrap: wrap;
	      justify-content: space-between;
      }
      .works_box {
        width: 40%;
        img {
          width: 70%;
        }
      }
    
  }
}
//-----works-----//

//-----contact-----//
#contact{
height: 300px;
  h1{
    letter-spacing: 0.25em;
    margin: 50px;
    padding-top: 50px;
    color: $keycolor;
    font-size : 30px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
  h1:before, h1:after {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    height: 1px;
    content: '\a0';
    background-color: #ddd;
    position: relative;
    top: 0.5em;
  }
  .contact_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  text-align: center;
 background-color: $basecolor;
  }

  .contact_box {
    text-align: center;
	  margin-bottom: 3rem;
	  background-color: $basecolor;
  }

  .contact_box img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	width: 50%;
	height: auto;
  }
  p{
    color: $keycolor;
  }
}
//-----contact-----//


