body {
  background-color: #0f0f0f;
  font-family: "Times New Roman" , Arial; }

header {
  height: 80px;
  width: 100%;
  background-color: #000;
  position: fixed;
  z-index: 100;
  top: 0px; }
  header .header_container {
    display: flex; }
    header .header_container .header_title {
      width: 60%;
      padding-top: 20px; }
      header .header_container .header_title img {
        max-width: 70%;
        height: auto;
        margin-left: 20px; }
    header .header_container .header_list {
      width: 40%; }
      header .header_container .header_list ul {
        display: flex;
        justify-content: space-between; }

.head_wrap {
  margin-top: 80px;
  padding: 0px;
  width: 100%;
  height: 300px;
  background-size: cover;
  background: url(../images/yozora.png) repeat-x; }
  .head_wrap .img_01 {
    display: block;
    width: 40%;
    height: 300px;
    margin-left: auto;
    margin-right: 0; }
  .head_wrap .img_02 img {
    display: block;
    width: 20%;
    height: auto;
    right: 10%; }

#profile {
  height: 400px;
  text-align: center; }
  #profile h1 {
    letter-spacing: 0.25em;
    margin: 50px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  #profile h1:before, #profile h1:after {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    height: 1px;
    content: '\a0';
    background-color: #ddd;
    position: relative;
    top: 0.5em; }
  #profile p {
    letter-spacing: 0.1em;
    color: #fff;
    font-size: 16px; }

#works {
  height: 450px;
  background-color: #000; }
  #works h1 {
    letter-spacing: 0.25em;
    margin: 50px;
    padding-top: 50px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  #works h1:before, #works h1:after {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    height: 1px;
    content: '\a0';
    background-color: #ddd;
    position: relative;
    top: 0.5em; }
  #works .works_container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  #works .works_box {
    text-align: center;
    padding: 5px; }
    #works .works_box img {
      width: 80%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px; }
    #works .works_box p {
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      font-style: italic;
      letter-spacing: 0.25em; }

#contact {
  height: 300px; }
  #contact h1 {
    letter-spacing: 0.25em;
    margin: 50px;
    padding-top: 50px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  #contact h1:before, #contact h1:after {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    height: 1px;
    content: '\a0';
    background-color: #ddd;
    position: relative;
    top: 0.5em; }

/*# sourceMappingURL=port.css.map */
